.about {
    width: 600px;
    margin: 0 auto;
    text-align: justify;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 2px 2px 5px #BABECC, 2px 2px 5px #BABECC;
}


/* ============= Media Query ============ */
/* ====================================== */

/* ==== Mobile Device ==== */

@media only screen and (max-width: 768px) {

    .about {
        width: 98%;
        margin: 0 auto;
    }
}