.inventory-section {
    background-color: #f1eff7;
    padding: 40px 0;
}

.title-text {
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 24px;
    color: #220768;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

.title-text p::after {
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#220768, #ffff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.title-text h1 {
    font-size: 50px;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 40px;
}


/* Media Query */
/* =========== */

/* Mobile Device */

@media only screen and (max-width:576px) {

    .inventory-section {
        margin: 80px 0;
        padding: 20px 0;
    }

    .items-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
    }
}

/* Tablet Device */

@media only screen and (min-width: 577px) and (max-width: 992px) {
    .items-container {
        grid-template-columns: repeat(2, 1fr);
    }
}