.register {
    /* background-color: #edecf1; */
    background-color: #ebf5fc;
    width: 500px;
    height: 550px;
    margin: 50px auto;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}