.banner {
    background-color: #f7f7f7;
}

.banner-container {
    height: 530px;
}

.banner-heading {
    color: #220768;
    font-weight: bold;
}

.banner-title {
    font-size: 50px;
    font-weight: bold;
}

.icon {
    color: #f62147;
}

.banner-btn {
    border: none;
    padding: 5px 20px;
    font-size: 18px;
    color: white;
    background-color: #220768;
}


/* ============= Media Query ============ */
/* ====================================== */

/* ==== Mobile Device ==== */

@media screen and (max-width: 768px) {
    .banner {
        height: 560px;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
    }

    .banner-heading {
        margin: 25px;
    }

    .banner-title {
        margin: 5px 20px;
    }

    .banner-btn {
        margin: 5px 72px;
    }

    .banner-img {
        margin: 20px 0;
    }
}