.item-detail-section {
    padding: 40px 0;
}

.item-detail-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.item-detail {
    background-color: white;
    width: 35%;
    padding: 15px 20px;
    box-shadow: 2px 2px 5px #BABECC, 2px 2px 5px #BABECC;
    box-sizing: border-box;
    border-radius: 8px;
}

.item-detail img {
    width: 130px;
    height: 130px;
}

.restock {
    width: 35%;
    height: 200px;
    background-color: #220768;
}

.restock-content {
    margin: 50px 0;
}


/* ============= Media Query ============ */
/* ====================================== */

/* ==== Mobile Device ==== */

@media only screen and (max-width:576px) {

    .item-detail-container {
        display: block;
    }

    .item-detail {
        width: 90%;
        margin: 0 auto;
    }

    .restock {
        width: 90%;
        margin: 0 auto;
    }

    .restock-content {
        margin: 50px 0;
        padding: 50px 0;
    }
}